@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Ağız ve Diş Sağlığı Merkezi</h1>

    <div class="btn-group">
        <a class=" btn btn-primary" asp-controller="Clinic" asp-action="Apply">Kaydol</a>
        <a class="btn btn-outline-primary" asp-controller="Clinic" asp-action="Login">Oturum Aç</a>
    </div>

</div>